  /* Обнуление */

  *,
  *::before,
  *::after {
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: border-box;
  }

   :focus-visible {
      outline: none;
  }

  a {
      text-decoration: none;
      text-align: left;
      color: inherit;
  }

  button {
      background-color: transparent;
  }

  ul,
  ol,
  li {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  img {
      vertical-align: top;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: inherit;
      font-size: inherit;
  }

  html,
  body {
      height: 100%;
      line-height: 1;
      font-size: 16px;
      font-family: Montserrat;
      color: var(--mine-shaft);
      background-color: var(--white);
  }

  input,
  textarea,
  button {
      font-family: inherit;
  }
  /* ---------------------------------------------------------CASTOMS--------------------------------------------------------- */

   :root {
      --orange-peel: #FF9900;
      --orange-peel-70: rgba(255, 153, 0, 0.7);
      --active: #E1670E;
      --white: #FFFFFF;
      --mine-shaft: #333333;
      --silver: #CACACA;
      --dove-gray: #666666;
      --dusty-gray: #998A8A;
      --conifer: #97EE3F;
      --input: #ADADAD;
      --input-cancel: #999999;
  }
  /* ---------------------------------------------------------WRAPPER--------------------------------------------------------- */

  .wrapper {
      min-height: 100%;
  }
  /* ---------------------------------------------------------CONTAINER-NOT-BEM-ELEMENT-------------------------------------------------------- */

  ._container {
      max-width: 1770px;
      margin: 0px auto;
      padding: 0px 15px;
      box-sizing: content-box;
  }

  @media (min-width:1101px) {
      ._container {
          padding: 0px 75px;
      }
  }

  @media (min-width:451px) {
      ._container {
          padding: 0px 50px;
      }
  }
  /* ---------------------------------------------------------HEADER--------------------------------------------------------- */

  .header {
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }

  .header>._container {
      position: relative;
      overflow: hidden;
  }

  .header__container {
      display: flex;
      align-items: center;
      padding: 14px 0px;
  }

  @media (max-width: 600px) {
      .header {
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      }
  }
  /* ---------------------------------------------------------HEADER-BURGER--------------------------------------------------------- */

  .header__burger {
      display: none;
      z-index: 4;
  }

  .header__burger {
      position: relative;
      width: 30px;
      height: 23px;
      transition: outline-color 0.3s ease 0s;
  }

  .header__burger:focus-within:not(:active) {
      outline-offset: 3px;
      outline: 2px solid;
      outline-color: var(--orange-peel);
  }

  .header__burger span {
      top: 45%;
      transition: all 0.3s ease 0s;
  }

  .header__burger._active_burger span {
      width: 0px;
  }

  .header__burger._active_burger::before {
      width: 30px;
      top: 10px;
      right: 4px;
      transform: rotate(45deg);
  }

  .header__burger._active_burger::after {
      width: 30px;
      top: 10px;
      right: 3px;
      transform: rotate(-45deg);
  }

  .header__burger::before,
  .header__burger::after {
      content: '';
      transition: all 0.3s ease 0s;
  }

  .header__burger::before {
      top: 0;
  }

  .header__burger::after {
      bottom: 0;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
      right: 0;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #333333;
  }
  /* ---------------------------------------------------------^HEADER-BURGER^--------------------------------------------------------- */

  .header__logo {
      display: flex;
      align-items: center;
  }

  .header__logo picture:not(:last-child) {
      margin-right: 12px;
  }

  .menu {
      margin: 0px 0px 0px auto;
  }

  .menu__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }

  .menu__item {
      margin: 0px 85px 0px 0px;
  }

  .menu__link {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      position: relative;
      outline-color: var(--white);
  }

  .menu__link::after {
      content: "";
      bottom: -5px;
      left: 50%;
      width: 0;
      border-bottom: 2px solid var(--orange-peel);
      transform: translateX(-50%);
      transition: width 0.3s ease 0s;
      position: absolute;
  }

  .menu__link:hover::after {
      width: 100%;
  }

  .menu__link svg {
      outline-color: var(--white);
  }

  .menu__link:focus-visible,
  .search__icon:focus-visible svg,
  .search__submit:focus-visible svg,
  .search__clearer:focus-visible svg {
      outline: 2px solid var(--orange-peel);
      outline-offset: 3px;
      transition: outline-color 0.5s ease-in-out 0s;
  }

  .menu__link._active_tab,
  .menu__link._active_tab::after {
      color: var(--active);
      border-color: var(--active);
      transition: all 0.3s ease-in-out 0s;
  }

  .search__icon {
      display: flex;
      align-items: center;
      opacity: 1;
      transform: translate(0%, 0%);
      transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  }

  .search__icon._open__search {
      opacity: 0;
      transform: translate(-20%, 0%);
  }

  .search__icon rect {
      fill: var(--mine-shaft);
      transition: all 0.3s ease-in-out 0s;
  }

  .search__icon path {
      stroke: var(--mine-shaft);
      transition: all 0.3s ease-in-out 0s;
  }

  .search__clearer circle rect {
      fill: var(--input-cancel);
  }

  .search__clearer:hover circle {
      stroke: var(--orange-peel);
  }

  .search__clearer:hover rect,
  .search__icon:hover rect {
      fill: var(--orange-peel);
  }

  .search__clearer:active rect {
      fill: var(--mine-shaft);
  }

  .search__clearer:active circle {
      stroke: var(--mine-shaft);
  }

  .search__icon:hover path {
      stroke: var(--orange-peel);
  }

  .search__submit rect {
      fill: var(--mine-shaft);
  }

  .search__submit path {
      stroke: var(--mine-shaft);
  }

  .search__submit:hover rect {
      fill: var(--orange-peel);
  }

  .search__submit:hover path {
      stroke: var(--orange-peel);
  }

  .search__submit:focus-visible rect {
      fill: var(--mine-shaft);
  }

  .search__submit:focus-visible path {
      stroke: var(--mine-shaft);
  }

  .header__search-container {
      display: flex;
      align-items: center;
  }

  .search__container._open__search {
      right: 50px;
      visibility: visible;
      z-index: 5;
  }

  .search span {
      display: inline-block;
      width: 0px;
      visibility: hidden;
  }

  .search__container {
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      right: -100%;
      visibility: hidden;
      display: flex;
      align-items: center;
      width: 539px;
      height: 60px;
      background-color: var(--white);
      padding: 10px 13px 16px 32px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      transition: right 0.3s ease 0s;
  }

  .search__container svg {
      margin-right: 20px;
  }

  .search__input {
      min-width: 412px;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: var(--input);
      border-bottom: 1px solid #DCDCDC;
      margin-right: 14px;
      padding-bottom: 5px;
  }

  input[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
  }

  @media (max-width:1200px) {
      .header__container {
          justify-content: space-between;
          padding: 26px 0px;
      }
      .header__logo {
          align-self: center;
      }
      .header__search-container {
          justify-self: flex-end;
      }
      .menu {
          margin: unset;
      }
      .menu {
          position: absolute;
          left: -100%;
          top: 0;
          display: flex;
          width: 420px;
          height: 795px;
          background-color: #fff;
          transition: left 0.5s ease 0s;
          padding: 160px 50px;
          z-index: 3;
      }
      .header__burger {
          display: block;
      }
      .menu._active_burger {
          left: 0;
      }
      .menu__list {
          flex-direction: column;
          align-items: flex-start;
      }
      .menu__item {
          margin: 0px 0px 61px 0px;
      }
      ._active_burger .menu__link {
          font-size: 24px;
          font-weight: bold;
          line-height: 122%;
      }
  }

  @media (max-width: 1100px) {
      .header__logo picture:not(:last-child) {
          margin-right: 8px;
      }
      .menu {
          height: 850px;
      }
  }

  @media (max-width:769px) {
      .header__container {
          padding: 10px 0px;
      }
      .menu {
          height: 780px;
          padding: 144px 50px;
      }
  }

  @media (max-width:650px) {
      .header__logo picture:not(:last-child) {
          margin-right: 6px;
      }
      .menu._active_burger .menu__item {
          margin: 0px 0px 32px 0px;
      }
      .header__container {
          padding: 17px 0px;
      }
      ._active_burger .menu__link {
          font-size: 16px;
          line-height: 125%;
      }
  }

  @media (max-width:600px) {
      .menu {
          width: 100%;
          height: 400px;
          padding: 78px 41px 20px 50px;
      }
      .search__container {
          right: -200%;
      }
      .search__container._open__search {
          width: 100%;
          height: 100%;
          right: 0px;
          padding: 16px 13px 16px 15px;
          border-radius: 0;
      }
      .search__input {
          min-width: 76%;
          font-size: 16px;
          line-height: 20px;
          margin: 0;
      }
  }

  @media (max-width:450px) {
      .menu {
          padding: 78px 41px 20px 15px;
      }
  }
  /* ---------------------------------------------------------MAIN--------------------------------------------------------- */

  .page {}

  .page__hero,
  .page__about,
  .page__how,
  .page__questions {
      margin-bottom: 100px;
  }

  @media (max-width: 1200px) {
      .page__hero,
      .page__about,
      .page__how,
      .page__questions {
          margin-bottom: 80px;
      }
  }

  @media (max-width: 600px) {
      .page__hero,
      .page__about,
      .page__how,
      .page__questions {
          margin-bottom: 60px;
      }
  }
  /* ---------------------------------------------------------SLIDER--------------------------------------------------------- */

  .swiper {}

  .hero__swiper-body {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }

  .swiper-wrapper {
      position: relative;
  }

  .hero__swiper-wrapper {}

  .swiper-slide {}

  .hero__swiper-slide {}

  .hero__swiper-slide1,
  .hero__swiper-slide2,
  .hero__swiper-slide3 {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
  }

  .hero__swiper-slide1 {
      background: url(../img/hero/slide-1.webp) 0 0/cover no-repeat;
  }

  .hero__swiper-slide2 {
      background: url(../img/hero/slide-2.webp) 0 0/cover no-repeat;
  }

  .hero__swiper-slide3 {
      background: url(../img/hero/slide-3.webp) 0 0/cover no-repeat;
  }

  .swiper-pagination {}

  .hero__swiper-pagination {
      margin-bottom: 17px;
  }

  .hero__swiper-body .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background-color: #fff;
  }

  .hero__swiper-body .swiper-pagination-bullet:not(:last-child) {
      margin-right: 15px;
  }

  @media (max-width:769px) {
      .hero__swiper-slide1 {
          background: url(../img/hero/adaptive/slide-768.jpg) 0 0/auto 100% no-repeat;
      }
  }

  @media (max-width:600px) {
      .hero__swiper-slide1 {
          background: url(../img/hero/adaptive/slide-320.jpg) 0 0/cover no-repeat;
      }
      .hero__swiper-body .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
      }
      .hero__swiper-pagination {
          margin-bottom: 2px;
      }
  }
  /* ---------------------------------------------------------HERO--------------------------------------------------------- */

  .hero__container {
      background-color: #333333;
      min-height: 620px;
      display: flex;
      flex-direction: column;
      position: relative;
  }

  .hero__body {
      display: flex;
      flex-direction: column;
      max-width: 950px;
      padding: 100px 15px 5px 80px;
      z-index: 2;
      margin-bottom: 50px;
  }

  .hero__title {
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 121%;
      color: var(--white);
      margin-bottom: 24px;
      word-break: break-word;
  }

  .hero__text {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: var(--white);
      margin-bottom: 90px;
  }

  .hero__button {
      max-width: 280px;
      min-height: 78px;
  }

  .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 125%;
      color: var(--white);
      background: var(--orange-peel);
      transition: background 0.5s ease 0s;
  }

  .hero__btn {
      font-style: normal;
      font-weight: bold;
      font-size: 23.4581px;
      line-height: 29px;
      padding: 24px 37px;
  }

  .btn:hover,
  .btn:focus-visible {
      background: var(--orange-peel-70);
  }

  .btn:active {
      background: var(--active);
  }

  @media (max-width:1200px) {
      .hero__container {
          min-height: 668px;
      }
      .hero__body {
          padding: 160px 77px 20px;
      }
      .hero__title {
          font-size: 60px;
          line-height: 122%;
          margin-bottom: 16px;
      }
      .hero__text {
          font-size: 20px;
          line-height: 120%;
          margin-bottom: 60px;
      }
  }

  @media (max-width:769px) {
      .hero__container {
          min-height: 662px;
      }
      .hero__body {
          padding: 160px 40px 20px;
      }
      .hero__title {
          font-size: 50px;
          line-height: 125%;
          margin-bottom: 16px;
      }
      .hero__text {
          font-size: 18px;
          line-height: 122%;
          margin-bottom: 60px;
      }
  }

  @media (max-width:600px) {
      .hero__container {
          min-height: 308px;
      }
      .hero__body {
          align-items: center;
          padding: 60px 21px 20px 22px;
          margin-bottom: 40px;
      }
      .hero__body>* {
          text-align: center;
      }
      .hero__title {
          font-size: 20px;
          line-height: 120%;
          margin-bottom: 7px;
      }
      .hero__text {
          font-size: 12px;
          line-height: 125%;
          margin-bottom: 32px;
      }
      .hero__button {
          max-width: 192px;
          min-height: 40px;
      }
      .hero__btn {
          font-size: 12px;
          line-height: 125%;
          padding: 13px 28px;
      }
  }
  /* ---------------------------------------------------------ABOUT-US--------------------------------------------------------- */

  .about {}

  .about__container {}

  .about__header {
      max-width: 1235px;
  }

  .how__title {}

  .header-about {}

  .title {
      font-size: 48px;
      line-height: 130%;
      margin: 0px 0px 20px 0px;
  }

  .header-about__text {}

  .about__body {
      display: flex;
      padding: 47px 0px 0px 0px;
  }

  .about__column {
      flex: 1;
      position: relative;
  }

  .about__image {
      position: absolute;
      height: 100%;
      width: 100%;
      background: url(../img/about/about.webp) 0 0/auto 100% no-repeat;
  }

  .about__column:not(:last-child) {
      min-height: 622px;
      margin: 0px 32px 0px 0px;
  }

  .about__description {
      width: 100%;
      height: 100%;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      position: absolute;
  }

  .description-about {}

  .description-about__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 50px 50px;
      background: rgba(0, 0, 0, 0.5);
  }

  .description-about__text {
      max-width: 460px;
      font-weight: bold;
      font-size: 16px;
      line-height: 200%;
      color: var(--white);
  }

  .description-about__button {
      display: flex;
      align-items: center;
      padding: 0px 1px 3px 0px;
  }

  .description-about__btn {
      text-align: center;
      color: var(--white);
      padding: 18px 36px;
      border: 3px solid var(--orange-peel);
      transition: all 0.5s ease 0s;
  }

  .description-about__btn:hover,
  .description-about__btn:focus-visible {
      background: var(--orange-peel);
  }

  .description-about__btn:active {
      background: var(--active);
      border-color: var(--active);
  }

  .about__card {}

  .card:not(:last-child) {
      margin-bottom: 32px;
  }

  .card__body {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid var(--silver);
      padding: 63px 20px 65px 298px;
      position: relative;
  }

  .card__body::before,
  .card__body::after {
      content: "";
      width: 190px;
      height: 165px;
      left: 58px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      background-size: contain;
  }

  .card:first-child .card__body::before {
      background: url(../img/about/icon-1.svg) 0 0/contain no-repeat;
  }

  .card:last-child .card__body::after {
      background: url(../img/about/icon-2.svg) 0 0/contain no-repeat;
  }

  .card__image {
      margin-right: 50px;
  }

  .card__content {
      max-width: 460px;
      align-self: flex-start;
  }

  .card__title {
      margin-bottom: 8px;
  }

  .medium-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 121%;
  }

  .card__text {}

  .text {
      font-size: 16px;
      line-height: 200%;
  }

  @media (max-width:1400px) {
      .about__body {
          flex-direction: column;
      }
      .header-about__title {
          margin-bottom: 7px;
      }
      .header-about__text {
          margin-bottom: 15px;
      }
      .about__column:not(:last-child) {
          min-height: 640px;
          margin: 0px 0px 32px 0px;
      }
      .about__image {
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(../img/about/adaptive/about_1024.webp) 0 0/cover no-repeat;
      }
      .card__body {
          padding: 63px 20px 65px 315px;
      }
      .card__body::before,
      .card__body::after {
          left: 76px;
      }
  }

  @media (max-width:800px) {
      .header-about__title {
          margin-bottom: 8px;
      }
      .about__column:not(:last-child) {
          min-height: 649px;
      }
      .about__image {
          background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url(../img/about/adaptive/about_768.webp) 0 0/cover no-repeat;
      }
      .card__body {
          padding: 35px 20px 33px 170px;
      }
      .card__body::before,
      .card__body::after {
          width: 114px;
          height: 99px;
          left: 40px;
      }
      .description-about__content {
          padding: 34px 40px;
      }
      .description-about__text {
          max-width: 366px;
      }
  }

  @media (max-width:600px) {
      .header-about__title {
          margin-bottom: 20px;
      }
      .title {
          font-size: 24px;
          line-height: 121%;
      }
      .text {
          font-size: 14px;
          line-height: 200%;
      }
      .about__body {
          padding: 0px 0px 0px 0px;
      }
      .about__column:not(:last-child) {
          min-height: 410px;
      }
      .about__image {
          min-height: 200px;
          background: url(../img/about/adaptive/about_320.webp) top center/100% auto no-repeat;
      }
      .description-about__content {
          min-height: 50%;
          flex-direction: column;
          background-color: #FFFFFF;
          padding: 8px 0px;
      }
      .description-about__text {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 8px;
          color: var(--mine-shafts);
      }
      .card:not(:last-child) {
          margin-bottom: 44px;
      }
      .card__body {
          border: none;
          padding: 50px 0px 0px 0px;
      }
      .medium-title {
          font-weight: 500;
      }
      .description-about__btn {
          font-size: 12px;
          padding: 13px 43px;
          color: var(--orange-peel);
          border-width: 2px;
      }
      .description-about__btn:hover {
          color: var(--white);
      }
      .medium-title {
          font-size: 18px;
          margin-bottom: 5px;
      }
      .card:first-child .card__body::before {
          background: url(../img/about/adaptive/icon-1_320.svg) 0 0/contain no-repeat;
      }
      .card:last-child .card__body::after {
          background: url(../img/about/adaptive/icon-2_320.svg) 0 0/contain no-repeat;
      }
      .card__body::before,
      .card__body::after {
          width: 64px;
          height: 49px;
          top: 12px;
          left: 0px;
      }
  }
  /* ---------------------------------------------------------HOW-WE-WORK--------------------------------------------------------- */

  .how {}

  .how__container {}

  .how__header {
      margin: 0px 0px 48px 0px;
  }

  .header-about {}

  .how__tabs {}

  .tabs {}

  ._active_tab {
      display: flex;
  }

  .tabs__items {
      display: flex;
      margin: 0px 0px 45px 0px;
  }

  .tabs__item {
      font-weight: 400;
      font-size: 18px;
      line-height: 122%;
  }

  .tabs__item:not(:last-child) {
      margin-right: 85px;
  }

  .tabs__body {
      position: relative;
  }

  .tabs__header {}

  .tabs__content._active_tab {
      display: flex;
      opacity: 1;
  }

  .tabs__content:not(._active_tab)>* {
      position: absolute;
      left: -100%;
      height: 0;
  }

  .tabs__content {
      flex-direction: column;
      opacity: 0;
      transition: opacity 1s ease 0s;
  }

  .tabs__content>* {
      width: 43%;
  }

  .tabs__content:before {
      content: "";
      position: absolute;
      width: 49%;
      top: 10px;
      right: 0;
      bottom: 0;
      background-size: cover;
  }

  #tab_01::before {
      background: url(../img/how/how_01.webp) 0 0/cover no-repeat, var(--dusty-gray);
  }

  #tab_02::before {
      background: url(../img/how/how_02.webp) 35% 0/cover no-repeat, var(--dusty-gray);
  }

  #tab_03::before {
      background: url(../img/how/how_03.webp) 50% 0/cover no-repeat, var(--dusty-gray);
  }

  #tab_04::before {
      background: url(../img/how/how_04.webp) 50% 0/cover no-repeat, var(--dusty-gray);
  }

  .tabs__title {
      line-height: 140%;
      margin-bottom: 8px;
  }

  .tabs__text {
      line-height: 200%;
      margin-bottom: 47px;
  }

  .tabs__buttons {
      display: flex;
      margin: auto 0 0;
  }

  .tabs__buttons .tabs__button {
      padding: 19px 38px;
  }

  .tabs__button {}

  .tabs__button:not(:last-child) {
      margin-right: 33px;
  }

  .tabs__button_orange {
      max-width: 175px;
  }

  .tabs__button_border {
      max-width: 147px;
      background: unset;
      color: var(--mine-shaft);
      border: 1px solid var(--mine-shaft);
  }

  .tabs__button_border:hover,
  .tabs__button_border:focus-visible {
      color: var(--white);
      background: var(--dove-gray);
      border-color: var(--dove-gray);
  }

  .tabs__button_border:active {
      background: #000000;
  }

  @media (max-width:1400px) {
      .tabs__items {
          margin: 0px 0px 47px 0px;
      }
      .tabs__content>* {
          width: 47.3%;
      }
      .tabs__content:before {
          width: 47.35%;
          top: 12px;
      }
      #tab_01::before {
          background: url(../img/how/adaptive/how_01-1024.webp) 0 0/cover no-repeat, var(--dusty-gray);
      }
      .tabs__title {
          margin-bottom: 8px;
      }
      .tabs__text {
          margin-bottom: 24px;
      }
  }

  @media (max-width:800px) {
      .tabs__items {
          justify-content: space-between;
      }
      .tabs__item:not(:last-child) {
          margin-right: 0px;
      }
      .tabs__content._active_tab {
          padding-top: 323px;
      }
      .tabs__content>* {
          width: 100%;
      }
      .tabs__content:before {
          width: 100%;
          height: 285px;
          top: 0;
      }
      #tab_01::before {
          background: url(../img/how/adaptive/how_01-768.webp) 0 0/cover no-repeat, var(--dusty-gray);
      }
      .tabs__text {
          margin-bottom: 23px;
      }
  }

  @media (max-width:600px) {
      .how__header {
          margin: 0px 0px 22px 0px;
      }
      .tabs__items {
          margin: 0px 0px 15px 0px;
      }
      .tabs__item {
          font-size: 14px;
      }
      .tabs__content:before {
          height: 160px;
      }
      #tab_01::before {
          background: url(../img/how/adaptive/how_01-320.webp) 0 0/cover no-repeat, var(--dusty-gray);
      }
      .tabs__content._active_tab {
          padding-top: 180px;
      }
      .tabs__title {
          margin-bottom: 10px;
      }
      .tabs__text {
          margin-bottom: 12px;
      }
      .tabs__buttons .tabs__button {
          padding: 12px 32px;
      }
      .tabs__button {
          font-size: 12px;
      }
      .tabs__button:not(:last-child) {
          margin-right: 10px;
      }
      .tabs__button_orange {
          width: 162px;
      }
      .tabs__button_border {
          max-width: 118px;
      }
  }
  /* ---------------------------------------------------------QUESTIONS--------------------------------------------------------- */

  .questions {}

  .questions__container {}

  .questions__title {
      margin-bottom: 40px;
  }

  .questions__spoiler {}

  .spoiler {}

  .spoiler__body {}

  .spoiler__item {
      position: relative;
      margin-top: -1px;
      border-top: 1px solid var(--silver);
      border-bottom: 1px solid var(--silver);
      transition: all 0.4s ease 0s;
      cursor: pointer;
  }

  .spoiler__item_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .spoiler__button {
      max-width: 50px;
      width: 100%;
      height: 50px;
      border-radius: 100%;
      background: #ECECEC;
      transition: all 0.4s ease 0s;
  }

  .spoiler__title {
      width: 100%;
      text-align: left;
      line-height: 125%;
      padding: 40px 0px;
      margin-bottom: 0;
  }

  .spoiler__title br {
      display: none;
  }

  .spoiler__button span::before,
  .spoiler__button span::after {
      content: '';
      width: 31px;
      height: 1px;
      right: 9px;
      background: var(--dove-gray);
      position: absolute;
      transition: transform 0.4s ease 0s;
      z-index: 2;
  }

  .spoiler__button span::before {
      transform: rotate(-90deg);
  }

  .spoiler__title._active_spoiler .spoiler__title {
      padding: 40px 0px 29px 0px;
  }

  .spoiler__item:hover:not(._active_spoiler) {
      border-color: var(--orange-peel);
      z-index: 1;
  }

  .spoiler__item:hover:not(._active_spoiler),
  .spoiler__item:focus-visible:not(._active_spoiler) {
      color: var(--orange-peel);
  }

  .spoiler__item:hover:not(._active_spoiler) .spoiler__button span::before,
  .spoiler__item:hover:not(._active_spoiler) .spoiler__button span::after,
  .spoiler__item:focus-visible:not(._active_spoiler) .spoiler__button span::before,
  .spoiler__item:focus-visible:not(._active_spoiler) .spoiler__button span::after {
      background: var(--white);
  }

  .spoiler__item:hover:not(._active_spoiler) .spoiler__button,
  .spoiler__item:focus-visible:not(._active_spoiler) .spoiler__button {
      background: var(--orange-peel);
  }

  .spoiler__item._active_spoiler .spoiler__button {
      transform: rotate(-45deg);
  }

  .spoiler__item._active_spoiler .spoiler__button {
      transform: rotate(45deg);
  }

  .spoiler__text {
      width: 57%;
      transition: height 1s ease-in-out;
      overflow: hidden;
      margin-bottom: 9px;
  }

  .spoiler__text:not(._active_spoiler) {
      height: 0;
      margin: 0;
  }

  @media (max-width:1400px) {
      .spoiler__item:nth-child(odd) .spoiler__title {
          padding: 39px 0px;
      }
      .spoiler__item:nth-child(even) .spoiler__title {
          padding: 30px 0px;
      }
      .questions__title {
          margin-bottom: 29px;
      }
      .spoiler__title {
          width: 81%;
          font-size: 20px;
          line-height: 160%;
      }
  }

  @media (max-width:800px) {
      .spoiler__item:nth-child(n+2) .spoiler__title {
          padding: 30px 0px;
      }
      .spoiler__title {
          width: 86%;
          line-height: 160%;
      }
      .spoiler__text {
          width: 100%;
      }
  }

  @media (max-width:600px) {
      .questions__title {
          margin-bottom: 18px;
      }
      .spoiler__title {
          width: 85%;
          font-size: 14px;
          line-height: 171%;
      }
      .spoiler__title br {
          display: block;
      }
      .spoiler__item:nth-child(odd) .spoiler__title,
      .spoiler__item:nth-child(even) .spoiler__title {
          padding: 30px 0px;
      }
      .spoiler__button {
          max-width: 30px;
          height: 30px;
      }
      .spoiler__button span::before,
      .spoiler__button span::after {
          width: 19px;
          height: 1px;
          right: 4px;
      }
  }
  /* ---------------------------------------------------------FOOTER--------------------------------------------------------- */

  .footer {
      color: var(--silver);
      background: #222222;
  }

  .footer__container {
      display: flex;
      justify-content: space-between;
      padding: 52px 0px 0px 0px;
  }

  .footer__column:nth-child(1) {
      padding: 0px 0px 0px 0px;
      margin-right: 31px;
  }

  .footer__column:nth-child(2) {
      min-width: 570px;
  }

  .footer__title,
  .form>* {
      margin-bottom: 25px;
  }

  .footer__column:nth-child(3) {
      padding: 0px 0px 49px 0px;
      align-self: center;
      max-width: 363px;
  }

  .footer__logo {
      display: flex;
      align-items: center;
  }

  .footer__logo picture:not(:last-child) {
      margin-right: 12px;
  }

  .footer-nav {
      padding-top: 20px;
      margin-bottom: 90px;
  }

  .footer-nav__item {
      font-weight: 600;
      font-size: 18px;
      line-height: 200%;
  }

  .footer-nav__item:not(:last-child) {
      margin: 0px 0px 0px 0px;
  }

  .footer-social__list {
      display: flex;
  }

  .footer-social__icon {
      margin-right: 25px;
      outline: none;
  }

  .footer-social__icon:hover:not(:active) path {
      fill: var(--orange-peel);
      transition: fill 0.3s ease 0s;
  }

  .footer-social__icon a:focus-visible:not(:active) svg {
      outline: 2px solid var(--orange-peel);
      outline-offset: 3px;
      transition: outline-color 0.3s ease 0s;
  }

  .footer-social__icon:active path {
      fill: var(--active);
      transition: fill 0.3s ease 0s;
  }

  .footer__title {
      line-height: 120%;
  }

  .footer__form {
      display: flex;
      flex-direction: column;
  }

  .form {}

  .form__input {
      color: var(--silver);
      background-color: #414141;
      padding: 14px 24px;
      transition: background-color 0.5s ease 0s;
  }

  textarea.form__input {
      width: 100%;
      min-height: 150px;
      resize: none;
  }

  textarea {}

  .form__input:hover,
  .form__input:focus-visible {
      background: var(--dove-gray);
  }

  .form__input:active {
      color: var(--white);
  }

  .form__btn-row {
      display: flex;
      align-items: center;
      padding: 7px 0px 0px 0px;
      margin-bottom: 50px;
  }

  .form__btn {
      width: 269px;
      height: 58px;
      margin-right: 22px;
  }

  .form__checkbox-label {
      position: relative;
      padding: 3px 0px 0px 0px;
  }

  .form__checkbox-label::before {
      position: absolute;
      content: "";
      left: 0;
      top: 3px;
      width: 14px;
      height: 14px;
      position: absolute;
      border: 1px solid var(--silver);
  }

  .form__checkbox {
      position: absolute;
      left: 0;
      width: 1px;
      height: 1px;
      opacity: 0;
      margin-right: 20px;
  }

  .form__checkbox-label span::before,
  .form__checkbox-label span::after {
      content: "";
      position: absolute;
      background-color: var(--conifer);
      z-index: 2;
      transform: rotate(45deg);
      opacity: 0;
  }

  .form__checkbox-label span::before {
      left: 7px;
      top: 5px;
      width: 2px;
      height: 9px;
  }

  .form__checkbox-label span::after {
      left: 2px;
      top: 11px;
      width: 4px;
      height: 2px;
  }

  .form__checkbox-label input:checked+span::after,
  .form__checkbox-label input:checked+span::before {
      opacity: 1;
  }

  .form__description {}

  .form__check-text {
      padding: 0px 0px 0px 19px;
  }

  @media (max-width:1400px) {
      .footer__column:last-child {
          display: none;
      }
      .footer-nav__item {
          display: block;
      }
      .footer__column:nth-child(1) {
          margin-right: 20px;
      }
      .footer__column:nth-child(2) {
          min-width: 300px;
      }
      .form__btn-row {
          padding: 9px 0px 0px 0px;
      }
      .form__btn {
          width: 240px;
          height: 58px;
      }
  }

  @media (max-width:800px) {
      .footer__container {
          flex-direction: column-reverse;
      }
      .footer-nav {
          display: none;
      }
      .form__input,
      textarea.form__input {
          width: 81%;
      }
      .form__btn-row {
          padding: 7px 0px 0px 0px;
      }
      .footer__logo {
          margin-bottom: 15px;
      }
      .footer-social__list {
          margin-bottom: 50px;
      }
  }

  @media (max-width:600px) {
      .footer__container {
          padding: 33px 0px 0px 0px;
      }
      .footer__column:nth-child(1) {
          margin-right: unset;
      }
      .footer__column:nth-child(2) {
          min-width: 100%;
      }
      .footer__logo {
          justify-content: center;
          margin-bottom: 15px;
      }
      .footer__logo picture:not(:last-child) {
          margin-right: 6px;
      }
      .footer__title {
          margin-bottom: 21px;
      }
      .form__input,
      textarea.form__input {
          width: 100%;
      }
      .form__input {
          padding: 16px 24px;
      }
      .form__btn-row {
          flex-direction: column;
          align-items: center;
          padding: 0px 0px 0px 0px;
          border-bottom: 1px solid #595959;
          margin-bottom: 17px;
      }
      .form__btn {
          width: 180px;
          height: 40px;
          font-size: 12px;
          margin-right: 0px;
          margin-bottom: 20px;
      }
      .form__checkbox-label {
          align-self: flex-start;
          padding: 0px 0px 23px 4px;
      }
      .form__checkbox-label::before {
          top: 0;
          left: 6px;
      }
      .footer-social__list {
          justify-content: center;
          padding: 0px 0px 0px 15px;
          margin-bottom: 30px;
      }
      .footer-social__icon {
          margin-right: 16px;
      }
      .footer-social__icon svg {
          width: 40px;
          height: 40px;
      }
  }
