@charset "UTF-8";
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'roboto';
}

/* -------------- */
.header {
  margin-bottom: 90px;
}

@media (min-width: 2500px) {
  .header {
    margin-bottom: 270px;
  }
}

.header,
.footer {
  color: #D7D7D7;
  background: #2D3136;
}

.header,
.main {
  font-size: 30px;
}

@media (min-width: 2500px) {
  .header {
    font-size: 70px;
  }
  .main {
    font-size: 68px;
  }
  .main .comments__text {
    font-size: 60px;
  }
}

.header__container,
.main__container,
.footer__container {
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .header__container,
  .main__container,
  .footer__container {
    padding: 0px 15px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 961px;
  padding-top: 54px;
}

@media (min-width: 2500px) {
  .header__container {
    max-width: 2185px;
    padding-top: 126px;
  }
}

.logo {
  width: 264px;
  height: 54px;
}

@media (min-width: 2500px) {
  .logo {
    width: 616px;
    height: 126px;
  }
}

.contactIcon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 240px;
  width: 240px;
  padding-bottom: 49px;
}

@media (min-width: 2500px) {
  .contactIcon {
    height: 560px;
    width: 560px;
    padding-bottom: 60px;
  }
}

.form,
.form__item-left,
.form__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media (min-width: 2500px) {
  .form__item {
    margin-bottom: 80px;
  }
}

@media (max-width: 992px) {
  .form__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.required {
  margin-bottom: 20px;
}

@media (min-width: 2500px) {
  .required {
    margin-bottom: 40px;
  }
}

.required::after {
  font-size: 36px;
  color: red;
  content: " *";
}

@media (min-width: 2500px) {
  .required::after {
    font-size: 86px;
  }
}

.input {
  width: 420px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  outline: none;
  color: #FFFFFF;
  background-color: #2F3338;
  caret-color: #7E7E7E;
  padding: 25px;
  margin-bottom: 60px;
}

@media (min-width: 2500px) {
  .input {
    width: 965px;
    margin-bottom: 140px;
  }
}

@media (max-width: 992px) {
  .input {
    width: 100%;
  }
}

textarea.input {
  height: 100%;
  resize: none;
}

.input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.input:focus {
  border: 1px solid #BE393B;
  background-color: #2F3338;
  -webkit-box-shadow: 0 0 15px #7a956b;
          box-shadow: 0 0 15px #7a956b;
}

.form__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn {
  color: #FFFFFF;
  background: #BE393B;
  border-radius: 10px;
  padding: 22px 17px;
  margin-bottom: 95px;
}

@media (min-width: 2500px) {
  .btn {
    padding: 50px 70px;
    margin-bottom: 200px;
  }
}

.main__container {
  max-width: 1052px;
}

@media (min-width: 2500px) {
  .main__container {
    max-width: 2264px;
  }
}

h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #37414E;
  margin-bottom: 70px;
}

@media (min-width: 2500px) {
  h2 {
    font-size: 86px;
    margin-bottom: 255px;
  }
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .comments {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.comments__card {
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 31%;
          flex: 1 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 360px;
  margin-bottom: 50px;
}

@media (min-width: 2500px) {
  .comments__card {
    max-width: 660px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 29%;
            flex: 1 1 29%;
    min-height: 815px;
    margin-bottom: 130px;
  }
}

@media (max-width: 767px) {
  .comments__card {
    max-width: none;
  }
}

.comments__card:not(:nth-child(3n)) {
  margin-right: 30px;
}

@media (min-width: 2500px) {
  .comments__card:not(:nth-child(3n)) {
    margin-right: 140px;
  }
}

@media (max-width: 1200px) {
  .comments__card:not(:nth-child(3n)) {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .comments__card:not(:nth-child(3n)) {
    margin-right: 0px;
  }
}

@media (max-width: 992px) {
  .comments__card:not(:nth-child(2n)) {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .comments__card:not(:nth-child(2n)) {
    margin-right: 0px;
  }
}

.comments__card:nth-child(even) .comments__name {
  background-color: #58AD52;
}

.comments__name {
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  background-color: #4B596C;
  padding: 20px;
}

@media (min-width: 2500px) {
  .comments__name {
    font-size: 68px;
    padding: 42px;
  }
}

.comments__email {
  height: 50%;
  color: #6D737B;
  background: #E9EEF3;
  padding: 45px 20px 30px;
  font-size: 30px;
  line-height: 35px;
}

.comments__card:nth-child(even) .comments__email {
  color: #58AD52;
}

.comments__text {
  height: 50%;
  color: #6D737B;
  background: #E9EEF3;
  padding: 0px 20px 30px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1040px;
  height: 120px;
}

@media (min-width: 2500px) {
  .footer__container {
    max-width: 2326px;
    height: 290px;
  }
}

.footer__logo {
  width: 210px;
  height: 42px;
}

@media (min-width: 2500px) {
  .footer__logo {
    width: 492px;
    height: 100px;
  }
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-icon {
  display: inline-block;
  background-size: auto;
  width: 40px;
  height: 40px;
  background: #37414E;
  border: 3px solid #454648;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 2500px) {
  .footer__social-icon {
    width: 90px;
    height: 90px;
  }
}

.footer__social-icon-vk {
  background-image: url(../img/vk.svg);
  margin-right: 48px;
  background-size: 70%;
}

@media (min-width: 2500px) {
  .footer__social-icon-vk {
    margin-right: 112px;
  }
}

.footer__social-icon-fb {
  background-image: url(../img/fb.svg);
  background-size: 30%;
}
/*# sourceMappingURL=style.css.map */