
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h3 {
	font-style: normal;
	font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff2') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

body {
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
}

/* Header */

.header {
	height: 154px;
}

.container {
	max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
	margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 30px;
}

.header-contact-link {
	font-weight: 500;
	font-size: 20px;
	color: #666666;
	margin: 0 auto 0 0;

}

.lk {
	min-width: 155px;
	min-height: 24px;
	background-image: url(/Lagoona/img/lk.svg);
	background-repeat: no-repeat;
	text-align: right;
	color: #CC9933;
}

.nav {
	display: block;
	background-color: #fff;
	border-radius: 15px;
	max-width: 1170px;
  padding: 10px 45px;
}

.nav-container {
	display: flex;
	align-items: center;
	padding-left: 45px;
	padding-right: 45px;
}

.nav-list {
    display: flex;
}

.nav-item{
    margin-right: 50px;
}

.rectangle {
	color: #E1E1E1;
	height: 50px;
}

.nav-link {
  color: #666666;
}

.nav-search {
	margin-left: 57px;
	height: 42px;
	width: 107px;
	border: 1px solid #CC9933;
	border-radius: 10px;
}

.search-button {
	width: 177px;
	font-size: 16px;
	line-height: 16px;
	height: 42px;
	background-color: #fff;
	color: #CC9933;
	border: 1px solid #CC9933;
	border-radius: 10px;
	margin-left: 15px;
}

/* Спецпредложения */

.heading {
	padding-left: 40px;
	font-size: 40px;
	font-weight: normal;
  color: #333333;
	margin-top: 70px;
	margin-bottom: 20px;
}

.small-offers {
	display: flex;
	flex-direction: column;
}

.special-offer-sections {
	display: flex;
	flex-wrap: wrap;
}

.maldiv-offer {
	background-image: url(/Lagoona/img/Maldiv.jpg);
  margin: 0 23px 23px 0;
}

.krit-offer {
	background-image: url(/Lagoona/img/Krit.jpg);
  margin-right: 23px;
}

.spetial-offer-luxe {
	min-width: 573px;
	min-height: 540px;
	background-image: url(/Lagoona/img/Luxe.jpg);
	background-repeat: no-repeat;
	padding: 208px 234px 40px 40px;
}

.spetial-offer-article {
	min-width: 573px;
	min-height: 258px;
  padding: 40px 0 40px 40px;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.small-offers-header {
	margin: 0;
	max-width: 299px;
	min-height: 80px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: #FFFFFF;
}

.special-offer-price {
	font-size: 20px;
	color: #FFFFFF;
	opacity: 0.8;
}

.small-offers-details {
	margin-top: 47px;
	background-image: url(/Lagoona/img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right;
	max-width: 101px;
}

.special-offer-details {
	color: #FFCC66;
}

.luxe-header {
	max-width: 299px;
	min-height: 180px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 60px;
  line-height: 1;
}

.luxe {
	font-size: 30px;
}

.special-luxe {
	margin-top: 37px;
}

/* О нас */

.darkgrey-text {
	max-width: 888px;
	line-height: 200%;
}

/* Услуги */

.services-list {
	display: flex;
	flex-wrap: wrap;
}

.services-item {
	background-color: #fff;
	border-radius: 15px;
	max-width: 573px;
	min-height: 330px;
	margin-bottom: 23px;
	padding: 0 126px 40px 0;
}

.services-item:nth-child(2n) {
	margin-left: 20px;
}

.servisec-pic {
	margin-bottom: 25px;
}

.colored-head {
	padding-right: 16px;
	color: #CC9933;
	padding-left: 45px;
	background-image: url(/Lagoona/img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right;
}

.common-text {
	padding-left: 45px;
	line-height: 200%;
}

/* Преимущества */

.advantages-picture {
	max-width: 66px;
	max-height: 66px;
	margin-left: 45px;
	margin-top: 40px;
}

.advantages-item {
	background-color: #fff;
	border-radius: 15px;
	max-width: 275px;
	min-height: 275px;
	margin-bottom: 23px;
	padding-right: 42px;
}

.advantages-list{
	display: flex;
	flex-wrap: wrap;
}

.advantages-item:not(:nth-child(4n)){
	margin-right: 23px;
}

/* Размещение */

.accommodation-list {
	display: flex;
	flex-wrap: wrap;
}

.accommodation-item {
	background-color: #fff;
	border-radius: 15px;
	max-width: 374px;
	min-height: 440px;
	margin-bottom: 41px;
	padding-right: 46px;
}

.accommodation-item:not(:nth-child(3n)) {
	margin-right: 23px;
}

.grey-text {
	color: #999999;
	margin-left: 45px;
	margin-bottom: 0;

}

.price {
	color: #000;
	font-size: 20px;
	font-weight: bold;
}

.hotel-name {
	font-size: 16px;
	margin: 0 40px 16px 45px;
}

.night-text {
	color: black;
}

.accomodation-rating {
	margin-left: 45px;
}

.numbers {
	min-width: 100px;
	min-height: 42px;
	border: 1px solid #CC9933;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 13px 20px 13px 20px;
	margin-left: 45px;
	margin-top: 20px;
	background-color: #fff;
	color: #CC9933;
}

.accommodation-img {
	background-image: url(/Lagoona/img/41.jpg);
	width: 373px;
	height: 440px;
	padding: 373px 53px 27px 54px;
}

.all-variants {
	font-size: 20px;
	font-weight: 500;
	padding-right: 16px;
	color: #fff;
	background-image: url(/Lagoona/img/whitearrow.svg);
    background-repeat: no-repeat;
    background-position: right;
}
