
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h3 {
	font-style: normal;
	font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff2') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

body {
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
}

/* Header */

.container {
	max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 15px 40px 15px;
}

.header-container {
	display: flex;
	align-items: center;
  padding-bottom: 0;
}

.logo {
	margin-right: 40px;
}

.header-contact-link {
	font-weight: 500;
	font-size: 20px;
	color: #666666;
	margin: 0 auto 0 0;

}

.lk {
  line-height: 16px;
	padding-left: 30px;
	background-image: url(../img/lk.svg);
	background-repeat: no-repeat;
	text-align: right;
	color: #CC9933;
}

.nav {
	background-color: #fff;
	border-radius: 15px;
	max-width: 1170px;
  padding: 10px 45px;
}

.nav-container {
	display: flex;
	align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item {
  max-width: 115px;
}

.nav-item:not(:last-child){
    margin-right: 45px;
}

.rectangle {
  height: 50px;
	color: #E1E1E1;
	margin: 0 56px;
}

.nav-link {
  color: #666666;
}

.nav-search {
	height: 42px;
	width: 107px;
	border: 1px solid #CC9933;
	border-radius: 10px;
  margin-right: 39px;
}

.search-button {
  padding: 13px 20px;
	font-size: 16px;
	line-height: 16px;
	background-color: #fff;
	color: #CC9933;
	border: 1px solid #CC9933;
	border-radius: 10px;
}

.search-button:not(:last-child) {
  margin-right: 35px;
}

/* Спецпредложения */

.special-offer-section {
  display: inline-block;
}

.heading {
	padding-left: 40px;
	font-size: 40px;
  line-height: 40px;
	font-weight: normal;
  color: #333333;
  margin-top: 0;
	margin-bottom: 20px;
}

.special-offer-sections {
  display: flex;
}

.small-offers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 23px;
}

.special-offer-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 573px;
  height: 258px;
  padding: 40px;
}

.maldiv-offer {
	background-image: url(../img/Maldiv.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.krit-offer {
	background-image: url(../img/Krit.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.small-offers-header {
  width: 60%;
  margin-top: 0;
  margin-right: 0;
	margin-bottom: 15px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
  line-height: 40px;
	color: #FFFFFF;
}

.special-offer-price {
  display: inline-block;
	font-size: 20px;
	color: #FFFFFF;
	opacity: 0.8;
  margin-bottom: 45px;
}

.special-offer-details {
  background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right;
	color: #FFCC66;
  padding-right: 14px;
}


/* Люкс */

.special-offer-luxe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 573px;
  height: 540px;
	background-image: url(../img/Luxe.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  padding: 40px;
}

.luxe-header {
  width: 52%;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.special-offer-price {
  display: inline-block;
}

/*

.special-offer-article {
  padding: 40px 0 40px 40px;
  border-radius: 15px;
}

.luxe-header {
	width: 40%;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0 0 15px 0;
	font-size: 60px;
}

.special-offer-luxe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
	background-image: url(../img/Luxe.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
	padding: 0 0 40px 40px;
}

.luxe {
	font-size: 30px;
  width: 40%;
}

.special-luxe {
  display: inline-block;
} */

/* О нас */

.about-us-heading {
  margin-bottom: 11px;
}

.darkgrey-text {
  margin: 0;
	max-width: 888px;
  font-weight: 300;
  font-size: 16px;
	line-height: 32px;
}

/* Услуги */

.services-list {
	display: flex;
	flex-wrap:  wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.services-item {
  flex: 1 1 50%;
	background-color: #fff;
	border-radius: 15px;
	max-width: 573px;
	min-height: 330px;
	padding: 190px 126px 40px 45px;
  background-repeat: no-repeat;
}

.servisec-pic10 {
  background-image: url(../img/10.jpg);
  margin-bottom: 20px;
}

.servisec-pic11 {
  background-image: url(../img/11.jpg);
  margin-bottom: 20px;
}

.servisec-pic12 {
  background-image: url(../img/12.jpg);
}

.servisec-pic13 {
  background-image: url(../img/13.jpg);
}

.colored-head {
	padding-right: 16px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
	color: #CC9933;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right;
}

.common-text {
  font-size: 16px;
	line-height: 32px;
  font-weight: 400;
  margin: 0;
}

/* Преимущества */

.bathtub{
  background-image: url(../img/bathtub.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 66px;
}
.hanger {
  background-image: url(../img/hanger.svg);
  background-repeat: no-repeat;
  width: 67px;
  height: 66px;
}
.heating {
  background-image: url(../img/heating.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 66px;
}
.hotel-key {
  background-image: url(../img/hotel-key.svg);
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
}
.parking {
  background-image: url(../img/parking.svg);
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
}
.reception {
  background-image: url(../img/reception.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 66px;
}
.security-box {
  background-image: url(../img/security-box.svg);
  background-repeat: no-repeat;
  width: 67px;
  height: 66px;
}
.swimming-pool {
  background-image: url(../img/swimming-pool.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 66px;
}

.advantages-item {
  flex: 1 1 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
	background-color: #fff;
	border-radius: 15px;
	margin-bottom: 23px;
	padding: 40px 40px 30px 45px;
  word-break: break-all;
}

.advantages-list{
  padding-top: 10px;
	display: flex;
  flex-flow: wrap;
}

.advantages-item:not(:nth-child(4n)){
	margin-right: 23px;
}

/* Размещение */

.accommodation-heading {
  margin-top: 0;
  margin-bottom: 30px;
}

.accommodation-list {
	display: flex;
  flex: 1 1 33.3%;
	flex-wrap: wrap;
}

.accommodation-pic {
  display: inline-block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

.accommodation-item {
  flex: 1 1 32%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #fff;
	border-radius: 15px;
  padding: 35px 45px 40px 45px;
  margin-bottom: 23px;
  word-break: break-all;
}

.accommodation-item:not(:nth-child(3n)) {
	margin-right: 23px;
}

.accpic1 {
  background-image: url(../img/1.jpg);

}
.accpic2 {
  background-image: url(../img/2.jpg);
}
.accpic3 {
  background-image: url(../img/3.jpg);
}
.accpic4 {
  background-image: url(../img/4.jpg);
}
.accpic5 {
  background-image: url(../img/5.jpg);
}
.accpic6 {
  background-image: url(../img/6.jpg);
}
.accpic7 {
  background-image: url(../img/7.jpg);
}
.accpic8 {
  background-image: url(../img/8.jpg);
}

.grey-text {
  font-size: 16px;
  line-height: 16px;
	color: #999999;
  margin-top: 0;
}

.price {
	color: #000;
	font-size: 20px;
	font-weight: 700;
}

.hotel-name {
	font-size: 16px;
  line-height: 16px;
}

.night-text {
  max-width: 190px;
	color: black;
  margin-right: 45px;
}

.numbers {
	min-width: 100px;
	min-height: 42px;
	border: 1px solid #CC9933;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 13px 20px 13px 20px;
	background-color: #fff;
	color: #CC9933;
}

/* Перебрать карточку "Все варианты" слишком большие паддинги,
прижать к низу флексами */

.accommodation-img {
	background-image: url(../img/41.jpg);
	width: 373px;
	height: 440px;
}

.all-variants {
	font-size: 20px;
	font-weight: 500;
	padding-right: 16px;
	color: #fff;
	background-image: url(../img/whitearrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}
