/*    Сперва для мобилок, а потом min-width 
.container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}


Брейкпоинт для мониторов в 1024px

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}


Брейкпоинт для планшетов 

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}


Брейкпоинт для сотиков

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}
*/